.menu-buttons {
    grid-area: navigation;
    border-top:1.5px solid whitesmoke;
    /* padding: 5%; */
    color: white;
    justify-self:center;
}

.menu-buttons a > .button  {
  font-size: .9rem;
    margin: 10px;
    padding: 15px;
    border: 1.5px solid whitesmoke;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    display:inline-block;
    transition: 0.3s;
  }
  .menu-buttons a > .button:after {
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    left: 50%;
    bottom: 0;
    height: 2px;
    background: #f7f7f7;
  }
  .menu-buttons a > .button:hover {
    cursor: pointer;
  }
  .menu-buttons a > .button:hover:after {
    width: 100%;
    left: 0;
  }
  .menu-buttons a > .button:hover {
    border-radius: 15px;
  }
  .menu-buttons a > .button:hover:after {
    width: 0%;
  }

  .menu-buttons ul > li {
    list-style-type:none;
    display: inline;
  }

  .menu-buttons ul {
    padding: 0;
  }

  .menu-buttons a {
    color:white;
    text-decoration: none;
  }
 
