.wrapper {
    width: 250px;
    height: 400px;
    background: whitesmoke;
    margin: 1%;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
  }
  .wrapper:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }
  .wrapper .container {
    width: 100%;
    height: 100%;
  }
  .wrapper .container .top {
    height: 80%;
    width: 100%;
    /* background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%; */
  }
  .wrapper .container .bottom {
    /* width: 200%; */
    height: 20%;
    /* transition: transform 0.5s; */
  }

  .wrapper .container .bottom h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
  }
  .wrapper .container .bottom p {
    margin: 0;
    padding: 0;
  }
  /* .wrapper .container .bottom .left {
    height: 100%;
    width: 50%;
    background: whitesmoke;
    position: relative;
    float: left;
  } */
  .wrapper .container .bottom .details {
    padding: 8%;
    /* width: 100%; */
    text-align: center;
    /* float: left; */
    /* width: calc(70% - 40px); */
  }

  .wrapper .inside {
    background: #239461;
    width: 190px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
  }
  .wrapper .inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: white;
    opacity: 1;
  }
  .wrapper .inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 80%;
  }
  .wrapper .inside:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
  }
  .wrapper .inside:hover .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }
  .wrapper .inside .contents {
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
  }
  .wrapper .inside .contents table {
    text-align: left;
    width: 100%;
    font-size: .8em;
  }
  .wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
    color: whitesmoke;
  }
 