footer  {
  bottom: 0;
  grid-area: footer;
    width: 100%;
    color:whitesmoke;
}

.footer-back {
  /* position: absolute; */
  z-index: -2;
  overflow: hidden;
  grid-area: footer;
  height: 11em;
}

.mobile-footer-back {
  background-color: #871486;
}

/* шары на фоне */
.footer-back > .back-circle1 {
    width:75%;
    margin-left:-20%;
    margin-top:-30%;
    
}

.footer-back > .back-circle2 {
    margin-top: -45%;
    margin-left: 40%;
    width:70%;
}
/* конец шаров на фоне */

